{% extends "master.html" %}
{% block title %}
Homepage
{% endblock %}
{% block pagelevel_plugins %}
<link href="{{ url_for('static', filename='plugins/apex/apexcharts.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/widgets/modules-widgets.css')}}">
<link href="{{ url_for('static', filename='assets/css/scrollspyNav.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='assets/css/components/tabs-accordian/custom-accordions.css')}}" rel="stylesheet" type="text/css" />   
{% endblock %}
{% block breadcrumb %}
Dashboard
{% endblock %}
{% block content %}

  <div class="container">
    <div class="container">

        <div id="navSection" data-spy="affix" class="nav sidenav">
            <div class="sidenav-content">
                <!-- INDICE SIDEBAR DESTRA -->
                <a href="#summary" class="active nav-link">Summary</a>
            </div>
        </div>

        <!-- INIZIO CONTENUTO PAGINA | MODIFICARE DA QUI IN POI -->
        <div class="row layout-top-spacing">
            <div class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div id="summary" class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Summary</h4>
                            </div>
                        </div>
                    </div> 
                    <div class="widget-content widget-content-area">
                        <h1>Welcome back {{name}}!</h1>
                        <br/>
                        <h3>There are currently no alerts for your registration. That's great! <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg></h3>

                    </div>
                </div>
            </div>
        </div>

        <!-- END CONTAINER | NON EDITARE DOPO QUESTA LINEA -->
    </div>
</div>

{% endblock %}
{%block year_copyright%}
2020
{%endblock%}